# -*- coding: utf-8 -*-

# reverse geocoder returning municipality names (as GeoJSON) on querying pairs of coordinates
MUNICIPALITY_REVERSE_URL = 'https://geo.sv.rostock.de/geocodr/query?key=AbcDEFGHijklmNOPQrstuVWxyZ012345&type=reverse&class=address&in_epsg=4326&limit=1&query='
MUNICIPALITY_REVERSE_TARGET_PROPERTY = 'gemeinde_name'

# forward geocoder returning municipality centroids (as GeoJSON) on querying municipality names
MUNICIPALITY_FORWARD_URL = 'https://geo.sv.rostock.de/geocodr/query?key=AbcDEFGHijklmNOPQrstuVWxyZ012345&type=search&class=address&out_epsg=4326&shape=centroid&limit=1&query='
